@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

@keyframes float-slow {
  0% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  50% {
    transform: translateY(-20px) translateX(10px) scale(1.1);
  }
  100% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
}

.animate-float-slow {
  animation: float-slow 20s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-floating {
  animation: floating 6s ease-in-out infinite;
}
